p {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

body {
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  padding-bottom: 40px;
  background: linear-gradient(to bottom, #0f0f0f, #181818, #202020);
  font-family: Roboto, Arial;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6a6a6a;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
}

html:hover::-webkit-scrollbar-thumb {
  background: #505050;
}

/* Firefox support */
html {
  scrollbar-color: transparent transparent;
}

html:hover {
  scrollbar-color: #505050 #1e1e1e;
}